    <footer class="footer">
      <div class="container">
        <p class="text-muted text-right credit">{{ with .Site.Params.Copyright }}{{.}}{{ else }}&copy; {{.Now.Format "2015"}}. All rights reserved. {{end}}</p>
      </div>
    </footer>
 <!-- Bootstrap core JavaScript-->
    <script src="{{ .Site.BaseUrl }}/js/jquery-1.8.2.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.cslider.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.isotope.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/jquery.nav.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/modernizr-latest.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/bootstrap.min.js"></script>
    <script src="{{ .Site.BaseUrl }}/js/bootstrap.js"></script>
    <script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'devmissinggear'; // required: replace example with your forum shortname


    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</body>

</html>
